body {
  font-family: Arial;
  margin: 0;
  background-color: lavender;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  color: white;
  padding: 10px 20px;
}

.cart {
  font-size: 18px;
}

.container {
  display: flex;
  margin: 40px auto;
  width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.image img {
  border-radius: 10px;
}

.details {
  margin-left: 30px;
}

.price {
  color: green;
  font-size: 20px;
}

label {
  display: block;
  margin: 5px ;
  cursor: pointer;
}


button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: brown;
}

.buy {
  background-color: black;
}
